    a {
        /*color: #575757!important;*/
    }
    
	#about-view .description
	{
		background-color:rgba(231,231,231,0.9);
	}

    .artists_list {
        padding: 5px;
        text-align: justify;
    }
    
    body {
        -webkit-font-smoothing: antialiased;
        background: #E1E1E1 url(/img/bg.jpg) fixed no-repeat;
        background-size: cover;
        /*color: #363636 !important;*/
        font: 13px/1.5 monospace;
        padding-bottom: 3em;

		-webkit-filter: grayscale(75%);
		filter: grayscale(75%);
		filter: gray;
		filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
    
    .btn {
        -moz-border-radius: 3px;
        -moz-box-shadow: #B4B5B5 5px 5px 5px;
        -webkit-border-radius: 3px;
        -webkit-box-shadow: #B4B5B5 5px 5px 5px;
        border: 1px solid #676767;
        border-radius: 3px;
        /*box-shadow: #B4B5B5 5px 5px 5px;*/
        /*color: #000000;*/
        /*padding: 10px 10px 10px 10px;*/
        /*text-decoration: none;*/
    }
    
    .btn:hover {
        /*background-color: rgb(231, 231, 231);
        border: 1px solid #505050;
        color: #111111;*/
    }

	#brand-logo {
		max-height:20px;
	}
	
	.btn-primary {
		/*background-color: #363636;
		color: #ededed;*/
	}
    
    #comparison-result {
        background-color: rgba(231, 231, 231, 0.5);
        text-align: center;
    }
    
    #comparison-result .artists div {
        padding: 7px;
        text-align: justify;
    }
    
    #comparison-result .artists h3 {
        text-align: center;
    }
	#result-row{
		background-size:cover;
		margin:0 auto;
		min-height:320px;
		max-width:768px;
	}
    
    .container {
        /*width: 100%;*/
    }
    
    #content {
        /*margin-bottom: 4em;
        z-index: 1;
        position: relative;*/
    }
	
	.dev{
		background-color: rgba(231,231,231,0.9);
	}
	
	.dev img
	{
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray;
		filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
		width:150px;
	}

	.has-error .input-group-addon {
		/*color: #898989;
		background-color: #363636;
		border-color: #ededed;*/
	}

	.has-success .form-control {
		/*border-color: #363636;*/
	}

	.has-success .input-group-addon {
		/*color: #575757;
		background-color: #dadada;
		border-color: #363636;*/
	}
    
    h1 {
        font-size: 20px
    }
    
    h2 {
        font-size: 18px
    }
    
    h3 {
        font-size: 16px
    }
    
    h4 {
        font-size: 14px
    }
    
    h5 {
        font-size: 12px
    }
    
    h6 {
        font-size: 10px
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-weight: 700;
    }
    
    input {
        /*background-color: #e4e4e4;
        color: #363636;*/
    }
    
    #log-container .alert {
        margin: 0;
        padding: 3px;
        padding-left: 10px;
    }
    
    #login-button {
        color: #e8e8e8;
        font-size: 50px;
        background-color: #898989;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
    
    #login-button:hover {
        background-color: #999999;
    }
    
    #main-progress-bar {
        bottom: 1em;
    }
    
    .mainstream {
        font-size: 1.25em;
    }

	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
    
    #similars_list,
    #tag_list {
        display: none;
    }
    
    #status {
        background-color: #e1e1e1;
        border: solid 1px #363636;
        bottom: 0;
        padding: 3px;
        height: 2em;
    }
    
    #status,
    #main-progress-bar {
        position: fixed;
        left: 0;
        width: 100%;
        display: block;
        z-index: 999;
    }
    
    .target {
        background-color: rgba(231, 231, 231, 0.85);
		background-size:cover;
		min-height:320px;
        padding: 10px;
        vertical-align: top;
        width: 50%;
    }
	
	.target>div, #comparison-row>div {
        background-color: rgba(231, 231, 231, 0.8);
		padding:5px;
	}
    
    #target-1 {
        text-align: right;
    }
    
    .target-info img {
        padding: 3px;
    }
    
    #target-user .targeting {
        display: none;
    }
    
    .underground {
        font-size: 0.8em;
    }
    
    .user-info img {
        height: 42px;
    }
    
    .user-info {
        /*padding-right: 10px;*/
    }
