<!DOCTYPE html>
<html lang="ru" ng-app="socmusrecApp">

<head>
    <meta charset="UTF-8">
    <title>socmusrec</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="css/socmusrec.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
    <script src="/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/socmusrec.js"></script>
    <script src="js/controllers/about.js"></script>
    <script src="js/controllers/comparison.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/target.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" ng-href="#"><img alt="SocMusRec" id="brand-logo" src="/favicon.png"/></a>
			</div>
		    <ul class="nav nav-justified nav-tabs" id='main-menu'>
		        <li ng-class="{'active':page=='/comparison'}" role="presentation"><a ng-disabled="busy" ng-href="#/comparison" role="presentation">Сравнение</a></li>
		        <li class="disabled" ng-class="{'active':page=='/manual'}" role="presentation"><a ng-disabled="busy" ng-href="#/manual" role="presentation">Руководство</a></li>
		        <li ng-class="{'active':page=='/about'}" role="presentation"><a ng-disabled="busy" ng-href="#/about" role="presentation">О разработчиках</a></li>
		    </ul>
		</div>
    </nav>
    <div class="container-fluid" id="content" ng-view> </div>
    <footer>
        <div id="main-progress-bar" class="progress" ng-show="completeRequestsNum < totalRequestsNum">
            <div id="main-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                ng-style="{width: completeRequestsNum/totalRequestsNum*100+'%'}">{{completeRequestsNum/totalRequestsNum*100 | number:0}}%</div>
        </div>
        <div id="status">{{appStatus}}</div>
    </footer>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--<script src="js/main2.js" type="text/javascript" charset="utf-8"></script>-->
</body>

</html>
