<!DOCTYPE html>
<html lang="ru" ng-app="socmusrecApp">

<head>
    <meta charset="UTF-8">
    <title>socmusrec</title>
    <script src="//vk.com/js/api/openapi.js" type="text/javascript"></script>
    <script type="text/javascript">
        VK.init(
        {
            apiId: 4988609
        });
    </script>
    <style type="text/css" media="screen">
        a {
            color: #575757!important;
        }
        
        .artists_list {
            padding: 5px;
            text-align: justify;
        }
        
        body {
            background: #e5e5e5 url(bg.jpg) top no-repeat;
            color: #363636 !important;
            padding-bottom: 3em;
        }
        
        #btn-compare {
            width: 100%;
            height: 80px;
            vertical-align: middle;
        }
        
        #btn-show-log {
            width: 100%;
        }
        
        .container {
            width: 100%;
        }
        
        input {
            background-color: #e4e4e4;
            color: #363636;
        }
        
        #similars_list,
        #tag_list {
            display: none;
        }
        
        .target {
            background-color: rgba(231, 231, 231, 0.8);
            padding: 10px;
            vertical-align: top;
            width: 50%;
        }
        
        #comparison-result {
            background-color: rgba(231, 231, 231, 0.5);
            text-align: center;
        }
        
        #content {
            margin-bottom: 4em;
            z-index: 1;
            position: relative;
        }
        
        #log-container .alert {
            margin: 0;
            padding: 3px;
            padding-left: 10px;
        }
        
        #login_button {
            z-index: 2;
            margin: -46px -138px;
            position: relative;
            top: 50%;
            left: 50%;
            color: #e8e8e8;
            font-size: 50px;
            background-color: #898989;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }
        
        #login_button:hover {
            background: ##575757;
            text-decoration: none;
        }
        
        #login-container {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
        
        #status,
        #main-progress-bar {
            position: fixed;
            left: 0;
            width: 100%;
            display: block;
            z-index: 999;
        }
        
        #status {
            background-color: #e1e1e1;
            border: solid 1px #363636;
            bottom: 0;
            padding: 3px;
            height: 2em;
        }
        
        #main-progress-bar {
            bottom: 1em;
        }
        
        .mainstream {
            background-color: #e9e9e9;
            color: #898989;
        }
        
        .underground {
            background-color: #898989;
            color: #363636;
        }
        
        .user-info img {
            height: 42px;
        }
        
        .user-info {
            padding-right: 10px;
        }
        
        #target-user .targeting {
            display: none;
        }
    </style>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <script src="js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/socmusrec.js"></script>
</head>

<body>
    <div class="background-image"></div>
    <div id="login-container" ng-hide="userId">
        <div class="btn" id="login_button" ng-click="login()">VK LOGIN</div>
    </div>
    <div class="container-fluid" id="content" ng-show="userId">
        <div class="" id="comparison">
            <div id="status">{{appStatus}}</div>
            <div id="main-progress-bar" class="progress" ng-show="completeRequestsNum < totalRequestsNum">
                <div id="main-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                    ng-style="{width: completeRequestsNum/totalRequestsNum*100+'%'}">{{completeRequestsNum/totalRequestsNum*100 | number:0}}%</div>
            </div>
            <div class="row">
                <div id="target-1" class="target cell col-xs-6" ng-controller="TargetCtrl">
                    <div class="targeting"> ID или ссылка пользователя vk.com: <input class="target-id" name="target-id-1" ng-change="handleInput()"
                            ng-model="inputId" ng-disabled="busy" type="text" /> </div>
                    <div class="target-info">
                        <a ng-show="uid" ng-href="//vk.com/id{{uid}}" target="__blank"><img ng-src="{{photo_50}}" />{{first_name}} {{last_name}}</a><span ng-show="targetError">{{targetError}}</span></div>
                    <div class="artists_list" ng-bind-html="artistsString" ng-show="artistsString"></div>
                    <div class="tags_list" ng-bind-html="tagsString" ng-show="tagsString"></div>
                    <div class="similars_list"></div>
                </div>
                <div id="target-2" class="target cell col-xs-6" ng-controller="TargetCtrl">
                    <div class="targeting"> ID или ссылка пользователя vk.com: <input class="target-id" name="target-id-2" ng-change="handleInput()"
                            ng-model="inputId" ng-disabled="busy" type="text" /> </div>
                    <div class="target-info">
                        <a ng-show="uid" ng-href="//vk.com/id{{uid}}" target="__blank"><img ng-src="{{photo_50}}" />{{first_name}} {{last_name}}</a><span ng-show="targetError">{{targetError}}</span></div>
                    <div class="artists_list" ng-bind-html="artistsString" ng-show="artistsString"></div>
                    <div class="tags_list" ng-bind-html="tagsString" ng-show="tagsString"></div>
                    <div class="similars_list"></div>
                </div>
            </div>
            <div class="row" ng-show="similarity">
                <div id="comparison-result" class="cell">
                    <h1>{{similarity.quantity}}% совпадения</h1>
                    <div class="description">Общее: {{similarity.description}}</div>
                    <div class="artists">Общие исполнители: {{similarity.artistsString}}</div>
                </div>
            </div>
            <div class="row"> <button class="btn btn-large" id="btn-compare" ng-disabled="busy||!areTargetsPresent()" ng-click="startComparison()">Сравнить вкусы</button>                </div>
            <div class="row"><button class="btn" id="btn-show-log" ng-click="isLogShown=!isLogShown">{{isLogShown?'Спрятать лог':'Показать лог'}}</button></div>
            <div class="row" id="log-container" ng-show="isLogShown">
                <div class="alert" ng-hide="logMessages">Сообщений нет.</div>
                <div ng-class="['alert','row','alert-'+logMessage.type]" ng-repeat="logMessage in logMessages track by $index">{{logMessage.message}}</div>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--<script src="js/main2.js" type="text/javascript" charset="utf-8"></script>-->
</body>

</html>
