a {
            color: #575757!important;
        }
        
        .artists_list {
            padding: 5px;
            text-align: justify;
        }
        
        body {
            -webkit-font-smoothing: antialiased;
            background: #E1E1E1 url(/bg.jpg) fixed no-repeat;
			background-size:cover;
            color: #363636 !important;
            font: 13px/1.5 monospace;
            padding-bottom: 3em;
        }
        
        .btn {
            -moz-border-radius: 3px;
            -moz-box-shadow: #B4B5B5 5px 5px 5px;
            -webkit-border-radius: 3px;
            -webkit-box-shadow: #B4B5B5 5px 5px 5px;
            border: 1px solid #676767;
            border-radius: 3px;
            box-shadow: #B4B5B5 5px 5px 5px;
            color: #000000;
            max-width: 768px;
            padding: 10px 10px 10px 10px;
            text-decoration: none;
        }
        
        .btn:hover {
			background-color:rgb(231,231,231);
            border: 1px solid #505050;
            color: #111111;
        }
        
        #btn-compare {
            width: 100%;
            height: 80px;
            vertical-align: middle;
        }
        
        #btn-compare-row,
        #btn-show-log-row {
            text-align: center;
        }
        
        #btn-show-log {
            width: 100%;
        }
        
        #comparison-result {
            background-color: rgba(231, 231, 231, 0.5);
            text-align: center;
        }
        
        #comparison-result .artists div {
            padding: 7px;
            text-align: justify;
        }
        
        #comparison-result .artists h3 {
            text-align: center;
        }
        
        .container {
            width: 100%;
        }
        
        #content {
            margin-bottom: 4em;
            z-index: 1;
            position: relative;
        }
        
        h1 {
            font-size: 20px
        }
        
        h2 {
            font-size: 18px
        }
        
        h3 {
            font-size: 16px
        }
        
        h4 {
            font-size: 14px
        }
        
        h5 {
            font-size: 12px
        }
        
        h6 {
            font-size: 10px
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold;
            font-weight: 700;
        }
        
        input {
            background-color: #e4e4e4;
            color: #363636;
        }
        
        #log-container .alert {
            margin: 0;
            padding: 3px;
            padding-left: 10px;
        }
        
        #login-button {
            z-index: 2;
            margin: -46px -138px;
            position: relative;
            top: 50%;
            left: 50%;
            color: #e8e8e8;
            font-size: 50px;
            background-color: #898989;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }
		#login-button:hover{
            background-color: #999999;
		}
        
        #login-container {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            vertical-align: middle;
        }
        
        #main-progress-bar {
            bottom: 1em;
        }
        
        .mainstream {
            font-size: 1.25em;
        }
        
        #similars_list,
        #tag_list {
            display: none;
        }
        
        #status {
            background-color: #e1e1e1;
            border: solid 1px #363636;
            bottom: 0;
            padding: 3px;
            height: 2em;
        }
        
        #status,
        #main-progress-bar {
            position: fixed;
            left: 0;
            width: 100%;
            display: block;
            z-index: 999;
        }
        
        .target {
            background-color: rgba(231, 231, 231, 0.85);
            padding: 10px;
            vertical-align: top;
            width: 50%;
        }
        
        #target-1 {
            text-align: right;
        }
        
        .target-info img {
            padding: 3px;
        }
        
        #target-user .targeting {
            display: none;
        }
        
        .underground {
            font-size: 0.75em;
        }
        
        .user-info img {
            height: 42px;
        }
        
        .user-info {
            padding-right: 10px;
        }
