<article id="about-view">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <div class="description row text-center">
        <div class="col-xs-12">
            <p>SocMusRec - веб-сервис для анализа аудио пользователей социальной сети vk.com. Версия <strong>0.3.4.7</strong>. </p>
            <p>Благодарим <a target="__blank" href="//instagram.com/a_kretov_a"><i class="fa fa-instagram"></i>Аню Кретову</a> за
                фоновое фото, <a target="__blank" href="http://obidnyk.vk.vntu.edu.ua/">Николая Обидныка</a> за наставничество и ценные советы, <a target="__blank" href="//www.linkedin.com/in/%D0%B2%D0%B8%D0%BA%D1%82%D0%BE%D1%80%D0%B8%D1%8F-%D0%B2%D0%BE%D0%B9%D1%82%D0%BA%D0%BE-901581aa"><i class="fa fa-linkedin"></i>Викторию Войтко</a> за живительные пендали
                :)</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-2 dev"></div>
        <dl class="col-xs-4 dev"> <img class="img-circle" src="/img/undead404.jpg" />
			<dt>Виталий Перегончук</dt>
            <dd>Разработчик клиентской логики, автор идеи</dd>
            <div>
                <a target="__blank" class="fa fa-3x fa-vk" href="//vk.com/id8870569"></a>
                <a target="__blank" class="fa fa-3x fa-instagram" href="//instagram.com/brute18"></a>
                <a target="__blank" class="fa fa-3x fa-music" href="//last.fm/user/UNDEADUM"></a>
                <a target="__blank" class="fa fa-3x fa-facebook" href="//www.facebook.com/vitaliy.seeker"></a>
                <a target="__blank" class="fa fa-3x fa-file-text" href="//sxewanderer.blogspot.com"></a>
            </div>
        </dl>
        <dl class="col-xs-4 dev"> <img class="img-circle" src="/img/prima95.jpg" />
			<dt>Богдан Примаковский</dt>
            <dd>Менеджер, розработчик серверной логики, PR</dd>
            <div>
                <a target="__blank" class="fa fa-3x fa-vk" href="//vk.com/id19923489"></a>
            </div>
        </dl>
    </div>
</article>
