<div class="" id="comparison">
    <div class="row">
        <div id="target-1" class="target cell col-xs-6" ng-controller="TargetCtrl" ng-style="{'background-image':'url('+bgImage+')'	}">
            <div class="targeting">
				<div class="input-group has-feedback" ng-class="{'has-success':uid,'has-warning':uid && targetError, 'has-error':!uid}">
					<input class="form-control target-id text-right" id="target-id-1" name="target-id-1" ng-change="handleInput()" ng-model="inputId" ng-disabled="busy" type="text" />
					<label class="input-group-addon" for="target-id-1">Цель 1</label>
				</div>
                <p class="help-block" ng-hide="uid">Введите ссылку на страницу пользователя vk.com, его ID либо скрин-нейм</p>
            </div>
            <div class="target-info"> <span class="level badge badge-info" ng-show="level">{{level}} уровень</span> <span class="label label-danger" role="alert" ng-show="targetError">{{targetError}}</span> <a ng-show="uid" ng-href="//vk.com/id{{uid}}" target="__blank">{{first_name}} {{last_name}}<img ng-src="{{photo_50}}" /></a>                </div>
            <div class="artists_list" ng-bind-html="artistsString" ng-show="artistsString"></div>
            <div class="tags_list" ng-bind-html="tagsString" ng-show="tagsString"></div>
            <div class="similars_list"></div>
        </div>
        <div id="target-2" class="target cell col-xs-6" ng-controller="TargetCtrl" ng-style="{'background-image':'url('+bgImage+')'	}">
            <div class="targeting">
				<div class="input-group has-feedback" ng-class="{'has-success':uid,'has-warning':uid && targetError, 'has-error':!uid}">
					<label class="input-group-addon" for="target-id-2">Цель 2</label>
					<input class="form-control target-id" id="target-id-2" name="target-id-2" ng-change="handleInput()" ng-model="inputId" ng-disabled="busy" type="text" />
				</div>
                <p class="help-block" ng-hide="uid">Введите ссылку на страницу пользователя vk.com, его ID либо скрин-нейм</p>
            </div>
            <div class="target-info">
                <a ng-show="uid" ng-href="//vk.com/id{{uid}}" target="__blank"><img ng-src="{{photo_50}}" />{{first_name}} {{last_name}}</a> <span class="level badge badge-info" ng-show="level">{{level}} уровень</span>                <span class="label label-danger" role="alert" ng-show="targetError">{{targetError}}</span> </div>
            <div class="artists_list"
                ng-bind-html="artistsString" ng-show="artistsString"></div>
            <div class="tags_list" ng-bind-html="tagsString" ng-show="tagsString"></div>
            <div class="similars_list"></div>
        </div>
    </div>
    <div class="row text-center" id="result-row" ng-show="similarity" ng-style="{'background-image':'url('+bgImage+')'}">
        <div id="comparison-result" class="col-xs-12">
            <h1>{{similarity.quantity}}% совпадения</h1>
            <div class="description">
                <h3>Общее: </h3>
                <div ng-show="similarity.description">{{similarity.description}}</div><span class="label label-info" ng-hide="similarity.description">Отсутствует</span></div>
            <div class="artists">
                <h3>Общие исполнители: </h3>
                <div ng-show="similarity.artistsString">{{similarity.artistsString}}</div><span class="badge badge-info" ng-hide="similarity.artistsString">Отсутствуют</span></div>
        </div>
    </div>
    <div class="row text-center" id="btn-compare-row"> <button class="btn btn-block btn-lg btn-primary" id="btn-compare" ng-disabled="busy||done||!areTargetsPresent()" ng-click="startComparison()">Сравнить вкусы</button>        </div>
    <div class="row text-center" id="btn-show-log-row"><button class="btn btn-block" id="btn-show-log" ng-click="isLogShown=!isLogShown">{{isLogShown?'Спрятать лог':'Показать лог'}}</button></div>
    <div class="row" id="log-container" ng-show="isLogShown"><div class="col-xs-12">
        <div class="alert col-xs-12" ng-hide="logMessages">Сообщений нет.</div>
        <div ng-class="['alert','row','alert-'+logMessage.type]" ng-repeat="logMessage in logMessages track by $index">{{logMessage.message}}</div>
    </div></div>
</div>
